<div class="sms-sec">
	<div class="container">
		<div class="sms-panel">
			
			<div class="total-sms">
				<div class="totalsms">345/500 </div>	
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="signup-card">
						<h5> To </h5>
						<h5> Gender: </h5>
						<div class="form-group">
							<label class="radio-inline">
								<input type="radio" name="gender" id="inlineradio1" value="option1"> All
							</label>
							<label class="radio-inline">
								<input type="radio" name="gender" id="inlineradio2" value="option2"> Male
							</label>
							<label class="radio-inline">
								<input type="radio" name="gender" id="inlineradio3" value="option3"> Female
							</label>
						</div>

						<div class="row">
							<div class="form-group col-md-2 col-sm-4 col-xs-12">
								<h5> Age: </h5>
							</div>
							<div class="form-group col-md-5 col-sm-4 col-xs-12">
								<select class="form-control txtfield">
									<option> From </option>
									<option> 2 </option>
									<option> 3 </option>
									<option> 4 </option>
									<option> 5 </option>
									<option> 6 </option>
									<option> 7 </option>
									<option> 8 </option>
									<option> 9 </option>
									<option> 10 </option>
									<option> 11 </option>
									<option> 12 </option>
									<option> 13 </option>
									<option> 14 </option>
									<option> 15 </option>
									<option> 16 </option>
									<option> 17 </option>
								</select>
				    		</div>
				    		<div class="form-group col-md-5 col-sm-4 col-xs-12">
								<select class="form-control txtfield">
									<option> To </option>
									<option> 3 </option>
									<option> 4 </option>
									<option> 5 </option>
									<option> 6 </option>
									<option> 7 </option>
									<option> 8 </option>
									<option> 9 </option>
									<option> 10 </option>
									<option> 11 </option>
									<option> 12 </option>
									<option> 13 </option>
									<option> 14 </option>
									<option> 15 </option>
									<option> 16 </option>
									<option> 17 </option>
								</select>
				    		</div>

						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="patient" id="inlineradio4" value="option3"> Most frequent patients
								</label>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6 col-sm-6 col-xs-12">
								<div class="checkbox m-0">
									<label> <input type="checkbox" name=""> Follow-ups </label>
								</div>
							</div>
							<div class="form-group col-md-6 col-sm-6 col-xs-12">
								(For Next 30 Days)
							</div>
							<div class="form-group col-md-6 col-sm-6 col-xs-12">
								<div class="checkbox m-0">
									<label> <input type="checkbox" name=""> Appointments </label>
								</div>
							</div>
							<div class="form-group col-md-6 col-sm-6 col-xs-12">
								(For Next 30 Days)
							</div>
							<div class="form-group col-md-12 col-sm-12 col-xs-12 inform-margin">
				    			<div class="fieldDesign">
				    				<input id="field1" type="text" class="form-control txtfield" name="" placeholder="" required="" />
				    				<label for="field1" class="labelFloat"> Diagnosis </label>
				    			</div>
				    		</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="signup-card">
						<h5> Compose: <span class="leftsms"> 54 SMS </span> </h5>
						<div class="row">
							<div class="form-group col-md-12 col-sm-12 col-xs-12 inform-margin">
				    			<div class="fieldDesign">
				    				<textarea id="field2" class="form-control txtfield" rows="9" required=""></textarea>
				    				<label for="field2" class="labelFloat"> Enter 300 Letters here..... </label>
				    			</div>
				    		</div>
				    		<div class="form-group col-md-12 col-sm-12 col-xs-12">
				    			<button class="btn btn-custom" type="button"> Send </button>
				    		</div>
				    	</div>

					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>


<!-- <div>
	zxczxczxczxc
</div> -->