<div class="pad-view">

	<div class="padview-header">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group doctor-name">
				<h1> Dr. Name </h1>
			</div>
			<div class="form-group qual">
				Qualification: M.S. (Ortho), FRCS (London), PGD (Ortho), Fellowship (France), RTEF
			</div>
			<div class="form-group assoc">
				Association: Associations: Retired Head of Dept., Orthopaedics, AIIMS
			</div>
			<div class="form-group schdl">
				<h4> Schedule: </h4>
				<div class="form-group">
					Mon-Fri: [9:30 – 13:30] [ 14:30 – 18:00] [ 18:30 – 21:30]
				</div>
				<div class="form-group">
					Sat: [17:00 – 21:00]
				</div>
				<div class="">
					Closed
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
			<ul class="clinic-detail">
				<li class="clinic-name"><h1> Clinic Name </h1> </li>
				<li> Clinic add Line </li>
				<li>
					<h4> For Appointments </h4>
					<p> Tel: 0522-234578</p>
					<p> Mb: +91-8967886635 </p>
				</li>
				<li class="text-center">
					<label> Note: PLEASE TAKE PRIOR APPOINTMENT </label>
				</li>
			</ul>
		</div>
	</div>

	<div class="padview-body">
		<div class="col-md-2 col-sm-3 col-xs-12 p-0">
			<div class="emergency-wrap">
				<div class="form-group emrgency-consult">
					<h5> Emergency Consultion </h5>
				</div>
				<h5 class="color-blue"> Treatment for: </h5>
				<ul>
					<li> Diabetes </li>
					<li> Sinus </li>
					<li> Hernia </li>
					<li> Heart problem </li>
					<li> Hypertension </li>
					<li> Cold </li>
					<li> Viral fever </li>
					<li> Appendicitis </li>
					<li> DNS </li>
					<li> Allergy </li>
				</ul>
				<h5 class="color-blue"> Services Available: </h5>
				<ul>
					<li> X-Ray </li>
					<li> Ultra Sound </li>
					<li> TMT </li>
					<li> ECG </li>
					<li> Echo </li>
					<li> Pharmacy </li>
					<li> Pathology </li>
					<li> IPD </li>
					<li> General Surgery </li>
					<li> Emergency </li>
				</ul>
			</div>
		</div>
		<div class="col-md-10 col-sm-9 col-xs-12 p-0">
			<div class="padview-bodyright">
				<ul class="padview-body-header">
					<li> Prescription ID: 28042018-005 </li>
					<li> History </li>
					<li> Test Reports </li>
					<li> 28<sup>th</sup> April, 2018, 15:32 </li>
				</ul>

				<ul class="padview-patient">
					<li class="img-patient">
						<img src="./assets/imgs/profile_user.jpg" class="img-responsive" />
					</li>
					<li>
						<div class="pat-heading"> Patient Detail </div>
						<div class=""> <label> Name:</label> Anjali Kapoor </div>
						<div class=""> <label> Age/Sex:</label> 35 Y /F </div>
						<div class=""> <label> Weight: </label> 55 Kg </div>
						<div class=""> <label> Height: </label> 155 cm </div>
					</li>
					<li>
						<div class="pat-heading"> Patient Detail </div>
						<ul class="pat-type">
							<li> Pregnant </li>
							<li> Breast Feeding </li>
							<li> Diabetic </li>
							<li> Hypertensive </li>
						</ul>
					</li>
					<li>
						<div class="pat-heading"> Allergy </div>
						<ul class="pat-allergy">
							<li> 1 </li>
							<li> 2 </li>
							<li> 3 </li>
							<li> 4 </li>
						</ul>
					</li>
					<li>
						<div class="pat-heading"> Body Indicators </div>
						<div class=""> <label> Temp: </label> 101.4F </div>
						<div class=""> <label> BP: </label> 178/84 </div>
						<div class=""> <label> Pulse: </label> 86 </div>
					</li>

				</ul>

				<div class="middle-body">
					<div class="">
						<div class="number-div">	
							<div class="pat-heading"> SYMPTOMS </div>
							<ol class="numberol">
								<li> Stomach pain </li>
								<li> Throat pain </li>
								<li> Dry eyes </li>
							</ol>
						</div>
						<div class="number-div">	
							<div class="pat-heading"> FINDINGS </div>
							<ol class="numberol">
								<li> Congested chest </li>
								<li> Redness in throat </li>
								<li> Dry eyes </li>
							</ol>
						</div>
						<div class="number-div">	
							<div class="pat-heading"> DIAGNOSIS </div>
							<ol class="numberol">
								<li> Conjunctivitis </li>
								<li> Throat pain </li>
							</ol>
						</div>
					</div>

					<div class="">
						<div class="padview-medic">
							<div class="pat-heading"> Medication </div>
							<ol class="numberol">
								<li> Tab <strong>Azee DS</strong> 350mg- twice a day X 5 days </li>
								<li> Syrup <strong>Augmintin 200</strong> - once a day X 5 days </li>
								<li> Suspension <strong>Ibugesic Plus</strong> -8ml,X SoS </li>
								<li> Tab <strong>Crocin Pain Relief</strong>- 2 times X 3 days (after meal) </li>
								<li> Inj <strong>Bentox 20ml</strong>- daily X 10 days </li>
								<li> Syrup <strong>Augmintin 200</strong>- once a day X 5 days </li>
								<li> Suspension <strong>Ibugesic Plus</strong>- 8ml,X SoS </li>
								<li> Tab <strong>Crocin Pain Relief</strong>- 2 times X 3 days (after meal) </li>
								<li> Inj <strong>Bentox 20ml</strong>- daily X 10 days </li>
								<li> Tab <strong>Crocin Pain Relief</strong>- 2 times X 3 days (Bed time) </li>
							</ol>
						</div>

					</div>

				</div>	

				<div class="third-body">
					<div class="number-div">	
						<div class="pat-heading"> INVESTIGATION </div>
						<ol class="numberol">
							<li> Liver Function Test, LFT </li>
							<li> Lipid Profile </li>
							<li> Uric Acid </li>
							<li> Diabetes screen </li>
							<li> ANA Serum </li>
						</ol>
					</div>
					<div class="number-div">	
						<div class="pat-heading"> OTHER TREATMENTS </div>
						<ul class="numberol">
							<li>  Gargle 3 times for 5 days</li>
							<li>  Physiotherapy 1 hr daily</li>
							<li>  Foment 2 times for 10 days</li>
							<li>  Exercise daily 30 mints</li>
							<li>  Walking daily 20 mints</li>
						</ul>
					</div>
					<div class="number-div">	
						<div class="pat-heading"> VACCINATION </div>
						<h5 class="m-0"> Current</h5>
						<p class="m-0">  1 ....., 2..... </p>
						<h5 class="m-0"> Due</h5>
						<p class="m-0">  1 ....., 2..... </p>
						<p class="m-0">  (Date) </p>
					</div>
				</div>

				<div class="note-box">
					<div class="">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th> Eye </th>
										<th> Sphere </th>
										<th> Cylinder </th>
										<th> Axis </th>
										<th> Add </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> Right (OD): </td>
										<td> -0.50 </td>
										<td> -1.25 </td>
										<td> 20 </td>
										<td> +2.00 </td>
									</tr>
									<tr>
										<td> Left (OS): </td>
										<td> -0.50 </td>
										<td> -0.25 </td>
										<td> 48 </td>
										<td> +2.00 </td>
									</tr>
									<tr>
										<td> PD: </td>
										<td colspan="2"> 63 </td>
										<td colspan="2"> 60 </td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="third-body">
					<div class="number-div">	
						<div class="pat-heading"> FOLLOW-UP </div>
						<p> Re-visit after 5 days</p>
						<p> 26/08/2018 </p>
					</div>
					<div class="number-div">	
						<div class="pat-heading"> SURGERY Reqd. </div>
						<ul class="numberol">
							<li> Retinoplasty </li>
							<li> Keratoplasty </li>
						</ul>
					</div>
					<div class="number-div">	
						<div class="pat-heading"> REFER: </div>
						<p> Dr..... </p>
					</div>
				</div>

				<div class="padview-sign">
					<div class="">
						<div class="col-md-6 col-sm-6 col-xs-12 p-0">	
							<div class="padview-confee">
								<div class="cons-time"> <strong>Consultation Time:</strong> 5 mins 46 sec </div>
								<div class=""> <strong>Fee:</strong> 500 INR </div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 text-right p-0">
							<div class="signature">(Signature)</div>
						</div>
					</div>
				</div>

			</div>


		</div>

	</div>

	<div class="padview-footer">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="padview-powered">
				<div>Powered by <span class="color-blue">doctm</span></div>
				<div>For prescription visit <a href="#" class="color-blue">www.mydoctm.com</a></div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="legal"> <h3> Not for Medico-Legal Purpose </h3> </div>
		</div>

	</div>

</div>

