.txt-muted{
	color:#777;
}
.mdl-title{
	color:#002060;
}
.cancel-wrap{
	padding: 5px;
}
.cancel-wrap button.close{
	font-size: 32px;
	margin-right: 8px;
}
.cstm-tr-2{
    background-color:#cacaca;
}
.cstm-width{
	display: table;
}
.cstm-tab{
    min-height: 0.1px;
    max-height: 500px;
    overflow-y: scroll;
    margin: 10px 22px;
}
.cusr{
	cursor: pointer;
}
.btn-go-hm{
	left:5px;
}
