  .modal-title{
  	display: inline-block;
  }
  .cstm-modal-body{
    float: left;
    width: 100%;
  }
.connected-doctor-name{
   	background-color: #f6f6f6;
    border: 1px solid #81a04d!important;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(0,0,0, 0.2);
    margin:4px 8px 4px 4px;
}
.cstm-modal-body{
	padding: 20px 0;
}
.remove{
	background-color: #f6f6f6;
  border: 1px solid #01b0f0;
  padding: 3px;
  color: #000;
  width: 100%;
  min-width: 100px;
  font-weight: normal;
}
.connected-doctors{
  float: left;
  width: 100%;
}
.add{
  background-color: #fbd4b4;
  border: 1px solid #fcb47a;
  color: #000;
  margin-top: 6px;
}
.add.active{
  background-color: #ffff00;
}
.add-new-feilds{
  float: left;
visibility: hidden;
  width: 100%;
  max-height: 225px;
}
.add-new-feilds.show-div{
  visibility: visible;
}
.connected-doctors-modal{
  width: 700px!important;
  right: 20%!important;
}
.dr-head
{
  width:45%;
  margin: auto;
}
.dr-head label
{
  /*width: 100%;*/
  text-align: center!important;
  font-size:16px;
  /*padding-left: 20px;*/
}
.doctor-detail thead
{

}
.doctor-detail tr td  
{ 
  padding: 1px 6px;
}
.doctor-detail tr td p
{
    border: 1px solid #81a04d!important;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
 
}
.doctor-detail tr th
{
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.con-dr
{
  width:225px;
}