<section class="login-sec">

	<div class="container p-0">

		<div class="login-panel">
			<div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
				<div class="row">
					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="login-left">
							<h1> Welcome !</h1>
							<h1> to </h1> 
							<h1> doctm </h1> 
						</div>
					</div>
					
					<div class="m-t-40 col-md-6 col-sm-6 col-xs-12">
						<div class="login-right text-center newform-margin">
							<h1 class="m-t-0"> Reset Password </h1>
							<div class="form-group col-md-12 col-sm-12 col-xs-12">
								<div class="fieldDesign">
									<input id="field1" type="password" class="form-control txtfield" name="" required="" />
									<label for="field1" class="labelFloat"> New Password </label>
								</div>
							</div>
							<div class="form-group col-md-12 col-sm-12 col-xs-12">
								<div class="fieldDesign">
									<input id="field2" type="password" class="form-control txtfield" name="" required="" />
									<label for="field2" class="labelFloat"> Confirm Password </label>
								</div>
							</div>
							
							<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
				    			<button class="btn btn-custom" type="submit"> Submit </button>
				    		</div>						    		
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>