<div class="staff-manage-sec">

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="sec-heading">
			<h3> <i class="fa fa-users"></i> Staff Management <button data-toggle="modal" data-dismiss="modal" data-target="#inchargeModal" type="button" class="btn btn-custom"> Add incharge </button> </h3>
		</div>
	</div>

	<div class="table-responsive col-md-12 col-sm-12 col-xs-12">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th> Name (Job Title) </th>
					<th> Designation </th>
					<th> Subscription Status </th>
					<th> Contact Number </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 14 Days Left <button type="button" class="btn btn-success"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 14 Days Left <button type="button" class="btn btn-success"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 14 Days Left <button type="button" class="btn btn-success"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 3 Days Left <button type="button" class="btn btn-danger"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 2 Days Left <button type="button" class="btn btn-danger"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 1 Days Left <button type="button" class="btn btn-danger"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 14 Days Left <button type="button" class="btn btn-success"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				
				<tr>
					<td> <p> Giacomo Guilizzoni </p> <p> Doctor </p> </td>
					<td> IPD Incharge </td>
					<td> 14 Days Left <button type="button" class="btn btn-success"> Renew </button> </td>
					<td> +91-9874563210 </td>
					<td>
						<a href="javascript:void(0)" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
						<a href="javascript:void(0)" title="Delete"> <i class="fa fa-trash"></i> </a>
						<a href="javascript:void(0)" title="View"> <i class="fa fa-eye"></i> </a>
					</td>
				</tr>
				
			</tbody>
		</table>

	</div>

</div>


<!-- Modal -->
<div class="modal fade cus-modal" id="inchargeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			<h4 class="modal-title"> Add Incharge </h4>
    		</div>
    		<div class="modal-body newform-margin">
        		<div class="row">
		    		<div class="form-group col-md-12 col-sm-12 col-xs-12">
		    			<div class="fieldDesign">
		    				<input id="field1" type="text" class="form-control txtfield" name="" placeholder="" required="" />
		    				<label for="field1" class="labelFloat"> Name </label>
		    			</div>
		    		</div>
		    		<div class="form-group col-md-12 col-sm-12 col-xs-12">
	    				<label> Mobile Number </label>
	    				<div class="input-group">
                            <span class="input-group-field">
                                <input type="text" class="form-control txtfield" name="" placeholder="eg. 0121" />
                            </span>
                            <input type="text" class="form-control txtfield" name="" placeholder="Eg. 011-678543" />
                        </div>
		    		</div>
		    		<div class="form-group col-md-12 col-sm-12 col-xs-12">
		    			<div class="fieldDesign">
		    				<input id="field2" type="text" class="form-control txtfield" name="" placeholder="" required="" />
		    				<label for="field2" class="labelFloat"> User ID </label>
		    			</div>
		    		</div>
		    		<div class="form-group col-md-12 col-sm-12 col-xs-12">
		    			<div class="fieldDesign">
		    				<input id="field3" type="password" class="form-control txtfield" name="" placeholder="" required="" />
		    				<label for="field3" class="labelFloat"> Password </label>
		    			</div>
		    		</div>
		    		<div class="form-group col-md-12 col-sm-12 col-xs-12">
		    			<div class="fieldDesign">
		    				<input id="field4" type="password" class="form-control txtfield" name="" placeholder="" required="" />
		    				<label for="field4" class="labelFloat"> Repeat Password </label>
		    			</div>
		    		</div>
		    		<div class="form-group col-md-12 col-sm-12 col-xs-12">
		    			<select class="form-control txtfield">
		    				<option> Choose service </option>
		    				<option> Service1 </option>
		    				<option> Service2 </option>
		    				<option> Service3 </option>
		    				<option> Service4 </option>
		    				<option> Service5 </option>
		    				<option> Service6 </option>
		    			</select>
		    		</div>

        		</div>
      		</div>

      		<div class="modal-footer">
      			<div class="form-group col-md-6 col-sm-6 col-xs-12">
      				<button class="full-width btn btn-custom" type="button"> Cancel </button>
      			</div>
      			<div class="form-group col-md-6 col-sm-6 col-xs-12">
      				<button class="full-width btn btn-custom" type="button"> Add </button>
      			</div>

      		</div>

		</div>
  	</div>
</div>