<section class="login-sec">

	<div class="container p-0">

		<div class="login-panel">
			<div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
				<div class="row">
					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="login-left">
							<h1> Welcome !</h1>
							<h1> to </h1> 
							<h1> doctm </h1> 
						</div>
					</div>
					
					<div class="m-t-40 col-md-6 col-sm-6 col-xs-12">
						<div class="login-right text-center newform-margin">
							<h1 class="m-t-0"> Forgot Password </h1>
							<p> Enter registered mobile number </p>
							<div class="form-group col-md-12 col-sm-12 col-xs-12">
								<div class="fieldDesign">
									<input id="field1" pattern="[0-9]+" minlength="10" maxlength="10" [(ngModel)] = "phone" type="text" class="form-control txtfield" name="" required="" />
									<label for="field1" class="labelFloat"> Mobile Number </label>
								</div>
							</div>
							
							<div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
								<button class="btn btn-custom" type="submit" (click) = "forgetPass()"> Send </button>
							</div>
							<!-- <p class="text-center"><a href="login.php"> I remembered my password </a> </p> -->
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>


<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Password</h4>
			</div>
			<div class="modal-body">
				<form [formGroup]="form" autocomplete="off">
					<div class="fieldDesign">
						<input id="field1" pattern="[0-9]+"  [formControl]="form.controls['newOtp']" [(ngModel)] = "newOtp" type="text" class="form-control txtfield" name="" required="" />
						<label for="field1" class="labelFloat"> Enter OTP </label>
						<p style="color: #FF0000" *ngIf="!form.controls['newOtp'].valid  && ( form.controls['newOtp'].touched)">Invalid Otp !!!</p>
					</div><br><br><br>
					<div class="fieldDesign">
						<input id="field1"  [formControl]="form.controls['docPassword']" [(ngModel)] = "docPassword" type="password" class="form-control txtfield" name="" required="" />
						<label for="field1" class="labelFloat"> Enter Password </label>
						<p style="color: #FF0000" *ngIf="!form.controls['docPassword'].valid  && ( form.controls['docPassword'].touched)">Invalid Password  !!!</p>
					</div><br><br><br>
					<div class="fieldDesign">
						<input id="field1" [formControl]="form.controls['confirmDocPassword']" [(ngModel)] = "confirmDocPassword" type="password" class="form-control txtfield" name="" required="" />
						<label for="field1" class="labelFloat"> Enter Confirm Password </label>
						<p style="color: #FF0000" *ngIf="!form.controls['confirmDocPassword'].valid  && ( form.controls['confirmDocPassword'].touched)">Invalid confirm password !!!</p>
					</div>
				</form>
			</div>
			<br><br>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" [disabled] = "!form.valid" (click) = "UpdateDoctorPassword()">Submit</button>
			</div>
		</div>

	</div>
</div>