<div class="loader-box" *ngIf="loading">
    <img src="./assets/imgs/load.gif" />
</div>
<div class="cstm-hdr">
   <div class="">
      <div  class="col-lg-2">
         <div  class="dashboard-header-logo" tabindex="0" ng-reflect-router-link="/header-five-layout/dashboard-">
            <img _ngcontent-c3="" class="img-responsive" src="./assets/imgs/logoDoctm.png" routerLink="/header-six-layout/dashboard-diagnostic">
         </div>
         <div >
            <div _ngcontent-c3="" class="dshbrd-btn">
               <button  class="btn btn-custom" routerLink="/header-six-layout/dashboard-diagnostic" tabindex="0"> Dashboard </button>
            </div>
         </div>
      </div>
      <div class="col-lg-8">
         <div class="pos-rel">
            
         <span  class="caret cstm-caret"></span>
         <select class="form-control select-doctor cstm-opt" [(ngModel)]="optionValue" (change)="selectOne()">
               <option selected="" value="All" >All</option>
               <option value="{{option}}" *ngFor="let option of diagnosticsData.dataSmartDiagnostics.diagnostics_services">{{option}}</option>
         </select>
         </div>
      </div>
   </div>
</div>
<div class="stock-tab">
   <div class="col-lg-12">
      <div class="tbl-cntrol">
      <table class="table table-bordered "  matSort (matSortChange)="sortData($event)" *ngIf="sortedData.length>0">
         <thead class="new-thd">
            <tr>
               <th mat-sort-header="category" width="10%" class="{{getTableHeaderClass(1)}} text-center" (click)="setTableHeaderClass(1)">
                  <h4 style="width: 100%; text-align: center;">Category</h4>
               </th>
               <th mat-sort-header="testname" width="10%" class="{{getTableHeaderClass(2)}} text-center" (click)="setTableHeaderClass(2)">
                  <h4 style="width: 100%; text-align: center;">Test Name/Details</h4>
               </th>
               <th mat-sort-header="rate" width="10%" class="{{getTableHeaderClass(3)}} text-center" (click)="setTableHeaderClass(3)">
                  <h4 style="width: 100%; text-align: center;">Rate</h4>
               </th>
               <th mat-sort-header="discount" width="10%" class="{{getTableHeaderClass(4)}} text-center" (click)="setTableHeaderClass(4)">
                  <h4 style="width: 100%; text-align: center;">Discount</h4>
               </th>
               <th width="10%">
                  <h4 style="width: 100%; text-align: center;">Action</h4>
               </th>
            </tr>
         </thead>
         <tbody class="new-tbdy">
            <tr *ngFor="let ar of sortedData">
               <td width="10%" class="text-center">{{ar.category}}</td>
               <td width="10%" class="text-center">{{ar.name}}</td>
               <td width="10%" class="text-center">{{ar.rate}}</td>
               <td width="10%" class="text-center">{{ar.discount}}</td>
               <td width="10%" class="text-center">
                  <button class="btn btn-success" (click)="editTest(ar)">Edit</button>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-danger" (click)="DeleteTest(ar)">Delete</button>
               </td>
            </tr>
         </tbody>
      </table>
      </div>
   </div>
</div>
<div class="col-lg-8 col-lg-offset-2 footer-cstm">
   <div class="btn-wrap text-center">
      <button class="btn btn-custom">
         <div>Total Tests</div>
         <div *ngIf="sortedData">{{sortedData.length}}</div>
      </button>
      <button class="btn btn-custom btn-grin btn-grin-2" (click)="exportPdf()">
         <div> Export </div>
      </button>
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="edit-entry" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
            <h4 class="modal-title text-center">Update Test Entry</h4>
         </div>
         <form [formGroup] = "detailsForm">
            <div class="modal-body">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="form-group">
                        <select  class="form-control" class="form-control txtfield" [(ngModel)]="editcategory" required=""  [formControl]="detailsForm.controls['category']">
                           <option selected="" value="" disabled="">Category</option>
                           <option value="{{option}}" *ngFor="let option of diagnosticsData.dataSmartDiagnostics.diagnostics_services">{{option}}</option>
                        </select>
                     </div>
                     <p style="color: #FF0000" *ngIf="!detailsForm.controls['category'].valid  && ( detailsForm.controls['category'].touched)">Invalid Category !!!</p>
                  </div>
                  <div class="col-lg-12">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Test Name" [(ngModel)]="edittestname" required="" [formControl]="detailsForm.controls['testName']" (keyup)="onTextChange(editcategory,$event.target.value)" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" >
                           <mat-option *ngFor="let option of testNameSuggestion" [value]="option" >
                           {{option}}
                           </mat-option>
                        </mat-autocomplete>
                     </div>
                     <p style="color: #FF0000" *ngIf="!detailsForm.controls['testName'].valid  && ( detailsForm.controls['testName'].touched)">Invalid Test Name !!!</p>
                  </div>
                  <div class="col-lg-12">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rate" pattern="[0-9]+" [(ngModel)]="editrate" required=""  [formControl]="detailsForm.controls['rate']">
                     </div><p style="color: #FF0000" *ngIf="!detailsForm.controls['rate'].valid  && ( detailsForm.controls['rate'].touched)">Invalid Rate !!!</p>
                  </div>
                  <div class="col-lg-12">
                     <div class="form-group">
                        <input type="text" class="form-control" maxlength="3" pattern="[0-9]+" placeholder="Discount(%)" [(ngModel)]="editdiscount" required=""  [formControl]="detailsForm.controls['discount']">
                     </div>
                     <p style="color: #FF0000" *ngIf="!detailsForm.controls['discount'].valid  && ( detailsForm.controls['discount'].touched)">Invalid Discount !!!</p>
                  </div>
                  <div class="col-lg-12 text-center">
                     <button class="btn btn-custom btn-grin" type="submit" [disabled]="!detailsForm.valid" (click)="UpdateTest()">SUBMIT
                     </button>
                  </div>
               </div>
            </div>
         </form>
      <!--   <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
      </div>
   </div>
</div>