<footer class="footer-sec" *ngIf="hideElement!='none'" id="ftr">
  <div class="container">
    <div *ngIf="!headerfive">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="footer-links">
          <!--li><a href="javascript:void(0)" routerLink="/header-one-layout/tutorial">Tutorials</a></li-->
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/faq">FAQ</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/term">Terms &amp; Conditions</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/privacy-policy">Privacy Policy</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/contact-us">Contact Us</a></li> 
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="footer-links">
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/about-us">About us</a></li>
          <!--li><a href="javascript:void(0)">Services </a></li-->
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/pricing">Pricing</a></li>
          <li><a target="_blank" href="http://promatics.gagzweblab.xyz/Doctm-blog-design/blog.html">Blog</a></li> 
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="footer-links">
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/smart-clinic-service">SmartClinic</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/smart-assistant-service">SmartAssistant</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/smart-pharmacy-service">SmartPharmacy</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/smart-diagnostics-service">SmartDiagnostics</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/smart-ipd-service">SmartIPD</a></li> 
        </ul>
      </div>
    </div>
    <div *ngIf="headerfive">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="footer-links">
          <!--li><a href="javascript:void(0)" routerLink="/header-one-layout/tutorial">Tutorials</a></li-->
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/faq">FAQ</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/term">Terms &amp; Conditions</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/privacy-policy">Privacy Policy</a></li>
          <li><a href="javascript:void(0)" routerLink="/header-one-layout/contact-us">Contact Us</a></li> 
        </ul>
      </div>
    </div>

    <div class="row">      
      <div class="form-group col-sm-6 col-xs-12">
        <div class="social-links-container">
          <ul class="social-links">
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 text-right">
        <div class="copyright-text">
          Copyrights &copy; 2018, All Rights Reserved. 
        </div>        
      </div>
    </div>    
  </div>
</footer>